<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="SqlServerConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="SqlServer2005ConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="SqlServerCeConnectionString" value="Data Source=test.sdf" />
		<add key="NpgsqlConnectionString" value="SERVER=localhost;Database=test;User ID=;Password=;" />
		<add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=test;Password=test;" />
		<add key="SQLiteConnectionString" value="Data Source=:memory:;version=3" />
		<add key="OracleConnectionString" value="Data Source=Oracle8i;Initial Catalog=Test;Integrated Security=SSPI" />
		<add key="OracleWithDefaultSchemaNameConnectionString" value="User ID=SYSTEM;Password=password;Data Source=192.168.1.232:1521/orcl2.devdefined.com" />		
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>