<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="SqlServerConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="SqlServer2005ConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="SqlServerCeConnectionString" value="Data Source=test.sdf" />
		<add key="NpgsqlConnectionString" value="SERVER=localhost;Database=test;User ID=;Password=;" />
		<add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=test;Password=test;" />
		<add key="SQLiteConnectionString" value="Data Source=:memory:;version=3" />
		<add key="OracleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.232)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ETMASTER)));User Id=migratortests;Password=password;" />		
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>